<h1>Template helloWorld.html</h1>
<h2>L'heure : {{current_time}}</h2>
<h2>La date : {{current_date}}</h2>

</br>
</br>

Utiliser ces liens pour connaître les liens vers les différentes fonctionnalités du TP 2 avec Django :
</br>
</br>
<a href ="/sum_page_31_4">
    Sum | Exemple ici, on a 31+4
</a>
</br>

</br>
<a href ="/sum_page_regex_20_101">
    Sum avec Regex | Exemple ici, on a 20+101
</a>
</br>

</br>
<a href ="/annuaire/particuliers">
    Annuaire (Pages Blanches)
</a>
</br>

</br>
<a href ="/annuaire/entreprises">
    Annuaire (Pages Jaunes)
</a>